# Ignorar entornos virtuales
venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Ignorar archivos de configuración sensibles
config/config.py
config/config_local.py
*.env

# Ignorar archivos de editor/IDE (ej. VS Code)
.vscode/
.idea/

# Ignorar archivos específicos de sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos generados por la aplicación
archivos_creados/
*.log

# Ignorar archivos temporales
*.tmp
*.temp
~*

# Ignorar archivos de PyInstaller
build/
dist/
*.spec
GestorAudiencias_v2.0/
